html {
  scroll-behavior: smooth;

  font-family: Exo, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: var(--color-text-main);

  background-color: var(--color-bg);
}

h1 {
  font-size: 46px;
  font-weight: 400;
  line-height: 54px;
}

