// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 640px;

:root {
  --color-bg: #fcfcfc;
  --color-surface: #dce0e3;
  --color-text-main: #3e3e3e;
  --color-text-secondary: #334b5d;
  --color-text-buttons: #fff;
  --color-bg-buttons: #e39f12;
  --color-accent: #4219d0;
  --color-success: #27ae60;
  --color-error: #eb5757;
}
